.bg-default {
    background: var(--backgroundColor);
}
.bg-mainColor {
    background: var(--mainColor);
}
.bg-surfaceColor {
    background: var(--surfaceColor);
}
.bg-on-surfaceColor {
    background: var(--on-surfaceColor);
}