.bg-default {
    background: var(--backgroundColor);
}
.bg-mainColor {
    background: var(--mainColor);
}
.bg-mainColor--light {
    background: var(--mainColor--light)
}
.bg-secondaryColor {
    background: var(--secondaryColor);
}
.bg-surfaceColor {
    background: var(--surfaceColor) !important;
}
.bg-on-surfaceColor {
    background: var(--on-surfaceColor);
}

.bg-grey {
    background: #f5f5f5 !important;
}

.bg-white {
    background: #fff;
}