:root {
    --mainColor: #027a66;
    --mainColor--dark: #085044;
    --textColor: black;
    --textColor--dark: #797979;
    --backgroundColor: #f5f5f5;
    --surfaceColor: #fff;
    --on-surfaceColor: #b1afaf;
    --warningColor: #770101;
    --calendarBackground: #fff;
    --lineColor: #ece9e9;
    --layer: linear-gradient(to right, rgb(20, 20, 20), rgb(20, 20, 20) );
}

$color-white: #fff;
$color-grey--dark: #797979;
$color-grey--light: #f5f5f5;
$color-primary: #027a66;
$color-primary--dark: #085044;
$color-warning: #770101;

$color-grey--main: #b1afaf;
$color-line: #ece9e9;
$color-green: green;
$color-red: red;


.color-secondary-0 {

}

.color-secondary-1 {
 
}

.color-secondary-2 {

}

.color-secondary-3 {
    
}

.color-secondary-4



// Default 


[theme="light-green"] {
    --mainColor: #027a66;
    --textColor: #121212;
    --textColor--dark: #797979;
    --backgroundColor: #f5f5f5;
    --surfaceColor: #fff;
    --on-surfaceColor: #b1afaf;
    --calendarBackground: #fff;
    --lineColor: #ece9e9;
    --layer: linear-gradient(to right, rgb(20, 20, 20), rgb(20, 20, 20) );
}

[theme="light-blue"] {
    --mainColor: #2790f3;
    --textColor: black;
    --textColor--dark: #797979;
    --backgroundColor: #f5f5f5;
    --surfaceColor: #fff;
    --on-surfaceColor: #b1afaf;
    --calendarBackground: #fff;
    --lineColor: #ece9e9;
    --layer: linear-gradient(to right, rgb(20, 20, 20), rgb(20, 20, 20) );
}

[theme="light-orangered"] {
    --mainColor: #f38033;
    --textColor: black;
    --textColor--dark: #797979;
    --backgroundColor: #f5f5f5;
    --surfaceColor: #fff;
    --on-surfaceColor: #b1afaf;
    --calendarBackground: #fff;
    --lineColor: #ece9e9;
    --layer: linear-gradient(to right, rgb(20, 20, 20), rgb(20, 20, 20) );
}

// ------- DARK THEME -------------------------

[theme="dark-green"] {
    --mainColor: #2d9e8b;
    --textColor: #ffffff;
    --textColor--dark: #797979;
    --backgroundColor: rgb(20, 20, 20);
    --surfaceColor: rgb(29, 29, 29);
    --on-surfaceColor: rgb(46, 46, 46);
    --calendarBackground: rgb(46, 46, 46);
    --lineColor: #252525;
    --layer: linear-gradient(to right, rgb(20, 20, 20), rgb(20, 20, 20) )
}

[theme="dark-orangered"] {
    --mainColor: #f38033;
    --textColor: #ffffff;
    --textColor--dark: #797979;
    --backgroundColor: rgb(20, 20, 20);
    --surfaceColor: rgb(29, 29, 29);
    --on-surfaceColor: rgb(46, 46, 46);
    --calendarBackground: rgb(46, 46, 46);
    --lineColor: #252525;
    --layer: linear-gradient(to right, rgb(20, 20, 20), rgb(20, 20, 20) )
}

[theme="dark-blue"] {
    --mainColor: #2790f3;
    --mainColor--dark: #1065b6;
    --textColor: #ffffff;
    --textColor--dark: #797979;
    --backgroundColor: rgb(20, 20, 20);
    --surfaceColor: rgb(25, 25, 25);
    --calendarBackground: rgb(46, 46, 46);
    --lineColor: #252525;
    --on-surfaceColor: rgb(46, 46, 46);
}
