$color-white: #fff;
$color-grey--light: #f5f5f5;


$color-primary: #027a66;
$color-grey--main: #b1afaf;
$color-grey--dark: #797979;
$color-secondary: #7a1c02;
$color-line: #ece9e9;
$color-green: green;
$color-red: red;
// Default 
:root {
    --mainColor: #027a66;
    --textColor: black;
    --textColor--dark: #797979;
    --backgroundColor: #f5f5f5;
    --surfaceColor: #fff;
    --on-surfaceColor: #b1afaf;
    --layer: linear-gradient(to right, rgb(20, 20, 20), rgb(20, 20, 20) );
}

[theme="light-green"] {
    --mainColor: #027a66;
    --textColor: black;
    --textColor--dark: #797979;
    --backgroundColor: #f5f5f5;
    --surfaceColor: #fff;
    --on-surfaceColor: #b1afaf;
    --layer: linear-gradient(to right, rgb(20, 20, 20), rgb(20, 20, 20) );
}

[theme="light-blue"] {
    --mainColor: #0084ff;
    --textColor: black;
    --textColor--dark: #797979;
    --backgroundColor: #f5f5f5;
    --surfaceColor: #fff;
    --on-surfaceColor: #b1afaf;
    --layer: linear-gradient(to right, rgb(20, 20, 20), rgb(20, 20, 20) );
}

[theme="light-orangered"] {
    --mainColor: #ff7315;
    --textColor: black;
    --textColor--dark: #797979;
    --backgroundColor: #f5f5f5;
    --surfaceColor: #fff;
    --on-surfaceColor: #b1afaf;
    --layer: linear-gradient(to right, rgb(20, 20, 20), rgb(20, 20, 20) );
}

// ------- DARK THEME -------------------------

[theme="dark-green"] {
    --mainColor: #027a66;
    --textColor: #ffffff;
    --textColor--dark: #797979;
    --backgroundColor: rgb(20, 20, 20);
    --surfaceColor: rgb(29, 29, 29);
    --on-surfaceColor: rgb(46, 46, 46);
    --layer: linear-gradient(to right, rgb(20, 20, 20), rgb(20, 20, 20) )
}

[theme="dark-orangered"] {
    --mainColor: #ff7315;
    --textColor: #ffffff;
    --textColor--dark: #797979;
    --backgroundColor: rgb(20, 20, 20);
    --surfaceColor: rgb(29, 29, 29);
    --on-surfaceColor: rgb(46, 46, 46);
    --layer: linear-gradient(to right, rgb(20, 20, 20), rgb(20, 20, 20) )
}

[theme="dark-blue"] {
    --mainColor: #0084ff;
    --textColor: #ffffff;
    --textColor--dark: #797979;
    --backgroundColor: rgb(20, 20, 20);
    --surfaceColor: rgb(25, 25, 25);
    --on-surfaceColor: rgb(46, 46, 46);
}
