$color-white: #fff;



$color-primary: #027a66;
$color-grey--light: #f5f5f5;
$color-grey--main: #b1afaf;
$color-grey--dark: #797979;


$color-secondary: #7a1c02;
$color-line: #ece9e9;

$color-green: green;
$color-red: red;
$font-xs: 1rem;
$font-s: 1.2rem;
$font-m: 1.3rem;
$font-l: 1.4rem;
$font-xl: 1.6rem;

// Default 
:root {
    --app-bg-primary: #f5f5f5;
    --app-bg-secondary: #027a66;
    --app-item-bg: #fff;
    --app-text-color: black;
    --app-title-color-primary: #b1afaf;
    --app-title-color-secondary: #797979;
    --app-color-main: #027a66;
    --app-line-color: #ece9e9;
}

// ---- LIGHT THEMES ---------------------------

[theme="light-green"] {
    --app-bg-primary: #f5f5f5;
    --app-item-bg: #fff;
    --app-text-color: black;
    --app-title-color-primary: #b1afaf;
    --app-title-color-secondary: #797979;
    --app-line-color: #ece9e9;
    --app-bg-secondary: #027a66;
    --app-color-main: #027a66;  
}

[theme="light-blue"] {
    --app-bg-primary: #f5f5f5;
    --app-item-bg: #fff;
    --app-text-color: black;
    --app-title-color-primary: #b1afaf;
    --app-title-color-secondary: #797979;
    --app-line-color: #ece9e9;
    --app-bg-secondary: blue;
    --app-color-main: blue;  
}

[theme="light-orangered"] {
    --app-bg-primary: #f5f5f5;
    --app-item-bg: #fff;
    --app-text-color: black;
    --app-title-color-primary: #b1afaf;
    --app-title-color-secondary: #797979;
    --app-line-color: #ece9e9;
    --app-bg-secondary: #ff7315;
    --app-color-main: #ff7315;  
}

// ------- DARK THEME -------------------------

[theme="dark-green"] {
    --mainColor: #027a66;
    --textColor: #ffffff;
    --textColor--dark: #797979;
    --backgroundColor: rgb(20, 20, 20);
    --surfaceColor: rgb(29, 29, 29);
    --on-surfaceColor: rgb(46, 46, 46);
    --layer: linear-gradient(to right, rgb(20, 20, 20), rgb(20, 20, 20) )
}

[theme="dark-orangered"] {
    --mainColor: #ff7315;
    --textColor: #ffffff;
    --textColor--dark: #797979;
    --backgroundColor: rgb(20, 20, 20);
    --surfaceColor: rgb(29, 29, 29);
    --on-surfaceColor: rgb(46, 46, 46);
    --layer: linear-gradient(to right, rgb(20, 20, 20), rgb(20, 20, 20) )
}

[theme="dark-blue"] {
    --mainColor: #0084ff;
    --textColor: #ffffff;
    --textColor--dark: #797979;
    --backgroundColor: rgb(20, 20, 20);
    --surfaceColor: rgb(25, 25, 25);
    --on-surfaceColor: rgb(46, 46, 46);
}


