$color-white: #fff;
$color-primary: #027a66;
$color-secondary: #b12b02;
$color-grey--light: #f5f5f5;
$color-grey--main: #b1afaf;
$color-grey--dark: #797979;
$color-line: #ece9e9;
$font-xs: 1rem;
$font-s: 1.2rem;
$font-m: 1.3rem;
$font-l: 1.4rem;
$font-xl: 1.6rem;
